---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{% if page.category %}
    {% for post in site.posts %}
        <!-- {% for tag in post.tags %} -->
            {% if post.tags[0] == page.category %}
                <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title">          {{ post.title }}
                        </h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                        {% endif %}
                    </a>
<!--                     <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> -->
                    {% for tag in post.tags %}
                    <a href="/{{ tag }}">
                        <span class="label label-default">{{ tag }}</span>
                    </a>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
        <!-- {% endfor %} -->
    {% endfor %}
{% else %}
    {% for post in paginator.posts %}
        <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">            {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
<!--                 <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> -->
                {% for tag in post.tags %}
                <a href="/{{ tag }}">
                    <span class="label label-default">{{ tag }}</span>
                </a>
                {% endfor %}
            </div>
            <hr>
    {% endfor %}
{% endif %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
		</div>
	</div>
</div>

<hr>
