---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}
             
                <ul class="pager">
                {% assign posts = site.posts | sort:"path" %}
                {% assign isPrevious = true %}
                
                {% for post in posts %}
                    {% if post.tags[0] == page.tags[0] %}
                        {% if post.url == page.url %}
                          {% assign isPrevious = false %}
                        {% else %}
                            {% if isPrevious %}
                                {% assign previousPost = post %}
                            {% else %}
                                {% assign nextPost = post %}
                                {% break %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                    {% if previousPost %}
                    <li class="previous">
                        <a href="{{ previousPost.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{previousPost.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if nextPost %}
                    <li class="next">
                        <a href="{{ nextPost.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{nextPost.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                <hr>
                <h4>Related Posts</h4>
                <ul>
                {% for post in posts %}
                    {% if post.tags[0] == page.tags[0] %}
                    <li><a href="{{post.url}}"> {{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>

                <hr>
            </div>
        </div>
    </div>
</article>

<hr>
